<!DOCTYPE html>
<html lang="en">
  <%- partial("./partials/headUU") %>

  <body>
    <%- partial("./partials/headerUU") %>
    <div class="container flex">
      <div>
          <h1>
              Made by Zachary Gomez
          </h1>
      </div>
      <div>
          <h1>
              Thanks to coffee
          </h1>
      </div>
    </div>