<!DOCTYPE html>
<html lang="en">
  <%- partial("./partials/headUU") %>

  <body>
    <%- partial("./partials/headerUU") %>

    <div class="container flex">
      <div>
<h2>Contact</h2>
      </div>
      <div>
<ul>
  <li>Carrier Pigeon</li>
  <li>In person at your local KFC</li>
  <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">My very important and special website</a></li>
</ul>
      </div>
    </div>