<!DOCTYPE html>
<html lang="en">
  <%- partial("./partials/headUU") %>

  <body>
    <%- partial("./partials/headerUU") %>
    <main class="home bg b1">
      <div class="homebuttons">
        <a href="/user/signup"><button>Signup</button></a>
        <a href="/user/login"><button>Login</button></a>
      </div>
    </main>
    <div class="p2 bg b2"></div>
    <div class="p3 bg b3"></div>
  </body>
</html>