<!DOCTYPE html>
<html lang="en">
  <%- partial("../partials/headUU") %>

  <body>
    <%- partial("../partials/headerUU") %>
    <main class="home bg b2">
      <div>
        <form action="/user/login" method="post">
          <fieldset>
            <legend>User Login</legend>
            <label
              >USERNAME: <input type="text" name="username" required />
            </label>
            <label
              >PASSWORD: <input type="password" name="password" required />
            </label>
            <input type="submit" value="Login" />
          </fieldset>
        </form>
        <%- partial("../errors/error", {statusCode:"", statusText:""}) %>
      </div>
    </main>
    <div class="p2 bg b1"></div>
    <div class="p3 bg b3"></div>
  </body>
<script>
  if ($('pre').text().length == 6 ) {$('pre').toggle()}
</script>
</html>