body{
    background-color: rgb(27, 7, 7);
}
h2 {
    color: rgb(90, 29, 29);
}
input:disabled{
    color: black;
}
.b1 {
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    height: 750px;
    width: 80vw;
    background-image: url("https://assets.dicebreaker.com/bestDungeonsandDragonscampaigns_cover.png/BROK/resize/1920x1920%3E/format/jpg/quality/80/bestDungeonsandDragonscampaigns_cover.png");
}

button {
    text-align: center;
    border: 1px solid black;
    font-size: 10px;
    border-radius: 10px 10px 10px 10px;
    padding: 4px 6px;
    font-weight: bold;
}
  
#buttonload {
    text-align: center;
    border: 1px solid black;
    font-size: 10px;
    border-radius: 10px 10px 10px 10px;
    padding: 4px 6px;
    font-weight: bold;
}
#loadlabel {
    padding: 5px;
    font-weight: bold;
}
textarea {
    font-size: 12px;
    text-align: left;
    width: calc(100% - 20px - 2px);
    border-radius: 10px;
    padding: 10px;
    resize: none;
    overflow: hidden;
    height: 15em;
}
form.charsheet {
    max-width: 800px;
    min-width: 625px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    border: solid;
    border-radius: 10px;
    background-color: rgb(189, 187, 181);
}
div.box {
    margin-top: 10px;
}
form.charsheet ul {
    margin: 0;
    padding: 0;
}

/* Section for top buttons  */
form.charsheet header {
    display: flex;
    align-content: stretch;
    -webkit-box-align: stretch;
    align-items: stretch;
}
form.charsheet label {
    text-transform: uppercase;
    font-size: 12px;
}

/* -------------------------- Section for Character Details -------------------------- */
form.charsheet header section.charname {
    border: 1px solid black;
    border-right: 0;
    border-radius: 10px 0 0 10px;
    padding: 5px 0;
    background-color: #ddd;
    width: 30%;
    display: flex;
    flex-direction: column-reverse;
    bottom: 0;
    top: 0;
    margin: auto;
}
form.charsheet header section.charname label {
    padding-left: 1em;
}
form.charsheet header section.charname input {
    padding: 0.5em;
    margin: 5px;
    border: 0;
}
form.charsheet header section.misc {
    width: 70%;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 1em;
    padding-right: 1em;
}
form.charsheet header section.misc ul {
    padding: 10px 0px 5px 0px;
    display: flex;
    flex-wrap: wrap;
}
form.charsheet header section.misc ul li {
    width: 33.33333%;
    display: flex;
    flex-direction: column-reverse;
}

form.charsheet header section.misc ul li label {
    margin-bottom: 5px;
}
form.charsheet header section.misc ul li input {
    border: 0;
    border-bottom: 1px solid #ddd;
}
/* -------------------------- Section for Main Stats  -------------------------- */
form.charsheet main {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

form.charsheet main > section {
    width: 32%;
    display: flex;
    flex-direction: column;
}

form.charsheet main > section section.attributes {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
form.charsheet main > section section.attributes div.scores {
    width: 101px;
    background-color: #ddd;
    border-radius: 10px;
    padding-bottom: 5px;
}
form.charsheet main > section section.attributes div.scores ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
form.charsheet main > section section.attributes div.scores ul li {
    height: 80px;
    width: 70px;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

form.charsheet main > section section.attributes div.scores label {
    font-size: 8px;
    font-weight: bold;
}
form.charsheet main > section section.attributes div.scores ul li div.score input {
    text-align: center;
    font-size: 40px;
    padding: 2px 0px 0px 0px;
    background: white;
}
form.charsheet main > section section.attributes div.scores ul li input {
    width: 100%;
    padding: 0;
    border: 0;
}
form.charsheet main > section section.attributes div.scores ul li div.modifier {
    margin-top: 3px;
}
form.charsheet main > section section.attributes div.scores ul li div.modifier input {
    background: white;
    width: 50px;
    height: 20px;
    border: 1px inset black;
    border-radius: 20px;
    margin: -1px;
    text-align: center;
}
form.charsheet main > section section.attributes div.attr-applications div.proficiencybonus {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
form.charsheet main div.label-container {
    position: relative;
    width: 100%;
    height: 18px;
    margin-top: 6px;
    border: 1px solid black;
    border-left: 0;
    text-align: center;
}
form.charsheet main div.label-container > label {
    position: absolute;
    left: 0;
    top: 1px;
    transform: translate(0%, 50%);
    width: 100%;
    font-size: 8px;
}
form.charsheet main > section section.attributes div.attr-applications div.proficiencybonus input, #rounder{
    width: 30px;
    height: 28px;
    border: 1px solid black;
    text-align: center;
    border-radius: 10px;
}
form.charsheet main > section section.attributes div.attr-applications div.list-section {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 5px;
}
form.charsheet main > section section.attributes div.attr-applications div.list-section ul li {
    display: flex;
    align-items: center;
}
form.charsheet main > section section.attributes div.attr-applications div.list-section ul li label {
    text-transform: none;
    font-size: 8px;
    text-align: left;
    order: 3;
}
form.charsheet main > section section.attributes div.attr-applications div.list-section ul li input[type="text"] {
    width: 30px;
    font-size: 12px;
    text-align: center;
    border: 0;
    border-bottom: 1px solid black;
    order: 2;
}
form.charsheet main > section section.attributes div.attr-applications div.list-section ul li input[type="checkbox"] {
    appearance: none;
    width: 10px;
    height: 10px;
    border: 1px solid black;
    border-radius: 10px;
    order: 1;
    cursor: pointer
}
form.charsheet main > section section.attributes div.attr-applications div.list-section ul li input[type="checkbox"]:checked {
    background-color: black;
}

form.charsheet main > section section.attributes div.attr-applications div.list-section ul li > * {
    margin-left: 5px;
}
/* -------------------------- Section for Combat Stats  -------------------------- */
form.charsheet main section.combat > div {
    overflow: hidden;
}
form.charsheet main section.combat {
    background-color: #ddd;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
}
form.charsheet main section.combat > div.armorclass, form.charsheet main section.combat > div.initiative, form.charsheet main section.combat > div.speed {
    flex-basis: 33.333%;
}
form.charsheet main section.combat > div.hitdice, form.charsheet main section.combat > div.deathsaves {
    flex: 1 50%;
    height: 100px;
}
form.charsheet main section.combat > div.armorclass > div, form.charsheet main section.combat > div.initiative > div, form.charsheet main section.combat > div.speed > div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 10px;
}
form.charsheet main section.combat > div.armorclass > div label, form.charsheet main section.combat > div.initiative > div label, form.charsheet main section.combat > div.speed > div label {
    font-size: 8px;
    width: 50px;
    border: 1px solid black;
    border-top: 0;
    background-color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0 0 10px 10px;
}
form.charsheet main section.combat > div.armorclass > div input, form.charsheet main section.combat > div.initiative > div input, form.charsheet main section.combat > div.speed > div input {
    height: 70px;
    width: 70px;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
}
form.charsheet main section.combat > div.hitdice > div {
    background-color: white;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
}
form.charsheet main section.combat > div.hitdice > div > div.total {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    padding: 5px 0;
}
form.charsheet main section.combat > div.hitdice > div > div.remaining {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
}
form.charsheet main section.combat > div.hitdice > div > div.total label {
    font-size: 10px;
    color: #bbb;
    margin: 0.25em;
    text-transform: none;
}
form.charsheet main section.combat > div.hitdice > div > div.total input {
    font-size: 12px;
    flex-grow: 1;
    border: 0;
    border-bottom: 1px solid #ddd;
    width: 50%;
    margin-right: 0.25em;
    padding: 0 0.25em;
    text-align: center;
}
form.charsheet main section.combat > div.hitdice > div > div.remaining label {
    text-align: center;
    padding: 2px;
    font-size: 10px;
}
form.charsheet main section.combat > div.hitdice > div > div.remaining input {
    text-align: center;
    border: 0;
    flex: 1;
}
form.charsheet main section.combat > div.deathsaves > div {
    margin: 10px;
    background: white;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column-reverse;
}
form.charsheet main section.combat > div.deathsaves > div > div.label {
    text-align: center;
}
form.charsheet main section.combat > div.deathsaves > div > div.label label {
    font-size: 10px;
}
form.charsheet main section.combat > div.deathsaves > div > div.marks {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}
form.charsheet main section.combat > div.deathsaves > div > div.marks div.deathsuccesses, form.charsheet main section.combat > div.deathsaves > div > div.marks div.deathfails {
    display: flex;
    align-items: center;
}
form.charsheet main section.combat > div.deathsaves > div > div.marks div.deathsuccesses label, form.charsheet main section.combat > div.deathsaves > div > div.marks div.deathfails label {
    font-size: 8px;
    text-align: right;
    flex: 1 50%;
}
form.charsheet main section.combat > div.deathsaves > div div.bubbles {
    flex: 1 40%;
    margin-left: 5px;
}
form.charsheet main section.combat > div.deathsaves > div div.bubbles input[type="checkbox"] {
    appearance: none;
    width: 10px;
    height: 10px;
    border: 1px solid black;
    border-radius: 10px;
}
form.charsheet main section.combat > div.deathsaves > div div.bubbles input[type="checkbox"]:checked {
    background-color: black;
}
form.charsheet main section.combat > div.hitdice > div, form.charsheet main section.combat > div.deathsaves > div {
    height: 80px;
}
/* -------------------------- Section for Proficiencies and Lang  -------------------------- */
form.charsheet div.textblock {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
}
form.charsheet div.textblock label {
    text-align: center;
    border: 1px solid black;
    border-top: 0;
    font-size: 10px;
    width: calc(100% - 20px - 2px);
    border-radius: 0 0 10px 10px;
    padding: 4px 0;
    font-weight: bold;
}
form.charsheet main > section div.otherprofs textarea {
    height: 17em;
    overflow-y: auto;
}
/* -------------------------- Section for Flavor  -------------------------- */
form.charsheet main section.flavor {
    padding: 10px;
    background: #ddd;
    border-radius: 10px;
}
form.charsheet main section.flavor div:first-child {
    border-radius: 10px 10px 0 0;
}
form.charsheet main section.flavor div:not(:first-child) {
    margin-top: 10px;
}
form.charsheet main section.flavor div:last-child {
    border-radius: 0 0 10px 10px;
}

form.charsheet main section.flavor div {
        background: white;
        display: flex;
        flex-direction: column-reverse;
        padding: 5px;
        border: 1px solid black;
}
form.charsheet main section.flavor div label {
    text-align: center;
    font-size: 10px;
    margin-top: 3px;
}
form.charsheet main section.flavor div textarea {
    border: 0;
    border-radius: 0;
    height: 4em;
}
form.charsheet main > section div.passive-perception {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
form.charsheet main > section div.passive-perception input {
    width: 30px;
    height: 28px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
}

/* ::placeholder { 
    color: Black;
    opacity: 1; 
} */